<div class="exhibit_priceListItem">
    <img src={{image}} />
    <div class="exhibit_priceListItemDescription">
        <div class="exhibit_priceListItemDetails">
            <div>{{title}}</div>
            <div>{{materials}}</div>
            <div>{{dimensions}}</div>
            <div>{{year}}</div>
        </div>
        {{#if price }}
            <div>
                {{#if sold}}
                    <div style="text-decoration:line-through;font-size:larger;color: #ccc;">${{price}}</div>
                    <div style="color:tomato;font-weight: 600;">SOLD</div>
                {{else}}
                    <div style="font-size:larger;">${{price}}</div>
                {{/if}}
            </div>
        {{/if}}
    </div>
</div>
<div class="exhibit_priceListItemBorder"></div>