<div class="exhibit_priceListItem">
    <img src={{image}} />
    <p>
        <div>{{title}}</div>
        <div>{{materials}}</div>
        <div>{{dimensions}}</div>
        <div>{{year}}</div>
    </p>
    {{#if price }}
        <p>
            {{#if sold}}
                <div style="text-decoration:line-through;">${{price}}</div>
                <div style="color:hotpink;">sold</div>
            {{else}}
                <div>${{price}}</div>
            {{/if}}
        </p>
    {{/if}}
</div>